.vlag {
  position: relative;
  display: inline-block;
  width: 1.333333em;
  line-height: 1em;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.vlag:before {
  content: " ";
}

.vlag-nl {
  background-image: url(../vlaggen/nl.svg);
}

.vlag-en {
  background-image: url(../vlaggen/en.svg);
}
